.team{
    display: flex;
    justify-content: center;
    padding: 24px 0 24px;
    .team__wrap{
        width: 1200px;
        display: flex;
        justify-content: space-between;
    }
}

.team__text{
    width: 50%;
    .team__text-title{}
    .team__text-text{}
}

.team__list{
    width: 50%;
    .team__list-item{}
}