@import "../styles/variables.scss";


.link{
    text-decoration: none;
    color: $black-color;
    transition: 0.2s;
    &:hover{
        transition: 0.2s;
        color: $light-brown-color;
    }
}

.general-text{
    color: $dark-brown-color;
}


.general-title{
    color: $black-color;
    font-weight: 500;
}


.MuiLinearProgress-bar.MuiLinearProgress-barColorPrimary.MuiLinearProgress-bar1Determinate.css-5xe99f-MuiLinearProgress-bar1{
    background-color: #000000;
    color: #000000;
}
.MuiLinearProgress-root.MuiLinearProgress-colorPrimary.MuiLinearProgress-determinate.css-eglki6-MuiLinearProgress-root{
    // color: black;
    background-color: grey;
}