.footer{
    padding: 24px 0 24px;
    display: flex;
    justify-content: center;
    .footer__wrap{
        width: 1200px;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }
}

.footer__text{
    .footer__text-title{}
    .footer__text-text{}
}

.footer__socials{}