@import "../../../styles/variables.scss";
.customers{
    background-color: $dark-brown-color;
    display: flex;
    justify-content: center;
    padding: 48px 0 48px;
    .customers__wrap{
        width: 1200px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.customers__left{width:  50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.customers__right {
    width: 50%;
   .customers__right-list{
    display: grid;
    grid-template-columns: 1fr 1fr;
    .customers__right-list--item {
        list-style: none;
        padding: 12px 0 12px;
        display: flex;
        justify-content: center;
        }
    }
}
