@import "../../../styles/variables.scss";

.projects{
        display: flex;
        justify-content: center;
        background-color: $light-brown-color;
        padding: 24px 0 24px;
        @media screen and (max-width: $tablet-min) {
            padding: 12px;
        }
    .projects__wrap{
        width: 1200px;
    }
}

.projects__text-wrap{
    max-width: 600px;
    


    .projects__text{
        margin-top: 12px;
    }
}


.projects__list{
    margin-top: 24px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    @media screen and (max-width: $tablet-min) {
        grid-template-columns: 1fr;
    }
  
    .projects__list-item{
        list-style: none;
        padding:  0 12px 0;
            &:last-child{
                padding: 0;
            }
                @media screen and (max-width: $tablet-min) {
                    padding: 12px 0 0 ;
                }
        .projects__list-item--img{
            width: 100%;
            height: auto;
            @media screen and (max-width: $tablet-min) {
                width: 100%;
            }
        }
    }
}

.projects__link-wrap{
    display: flex;
    justify-content: center;
    padding: 24px 0 24px;

    .projects__link{
        text-decoration: none;

    }
}
