@import "../../../styles/variables.scss";

.header{ 
    padding: 20px 12px ;
    display: flex;
    align-items: center;
    justify-content: space-between;
}



.header__nav{
    @media screen and (max-width: $mobile-max) {
            display: none;
        }
    .header__nav-list{
        display: flex;
       
        .header__nav-list--item{
            list-style: none;
            padding-right: 12px;
            .nav__list-item--link{
                padding-right: 24px;
                text-decoration: none;
                color: $black-color;
                transition: 0.2s;
                &:hover{
                    transition: 0.2s;
                    color: $light-brown-color;
                }
            }
        }
    }
}



.menu-btn{
        cursor: pointer;
        border: none;
        box-shadow: none;
        outline: none;
        background-color: none;      
  .menu-icon {
    display: none;
    cursor: pointer;   
    width: 30px;
    height: 3px;
    background-color: $black-color;
    position: relative;
    transition: transform 0.3s ease;
    &:hover{
      &:before,
      &:after {
      content: '';
      position: absolute;
      left: 0; 
      width: 30px;
      height: 3px;
      background-color: $black-color;
      transition: transform 0.3s ease;
    }
    }

    &:before,
    &:after {
      content: '';
      position: absolute;
      left: -10px; 
      width: 30px;
      height: 3px;
      background-color: $black-color;
      transition: transform 0.3s ease;
    }

    &:before {
      transform: translateY(-10px);
      transition: 0.3s;
    }

    &:after {
      transform: translateY(10px);
      transition: 0.3s;
    }


    @media screen and (max-width: $mobile-max) {
      display: block;
    }
  }
}




.menu-btn-open {
  cursor: pointer;
  border: none;
  box-shadow: none;
  outline: none;
  background-color: none;

  .menu-icon {
    display: block;
    width: 30px;
    height: 30px;
    position: relative;

    &:before,
    &:after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      height: 3px;
      background-color: $black-color;
    }

    &:before {
      transform: translate(-50%, -50%) rotate(45deg);
      transition: 0.3s;
    }

    &:after {
      transform: translate(-50%, -50%) rotate(-45deg);
      transition: 0.3s;
    }

    @media screen and (max-width: $mobile-max) {
      display: block;
    }
  }
}