@import "../../../styles/variables.scss";

.header{ 
    padding: 20px 12px ;
    display: flex;
    align-items: center;
    justify-content: space-between;
}



.header__nav{
   
    .header__nav-list{
        display: flex;
        .header__nav-list--item{
            list-style: none;
            padding-right: 12px;
            .nav__list-item--link{
                padding-right: 24px;
                text-decoration: none;
                color: $black-color;
                transition: 0.2s;
                &:hover{
                    transition: 0.2s;
                    color: $light-brown-color;
                }
            }
        }
    }
}