@import "../../../styles/variables.scss";

.about{
    display: flex;
    justify-content: center;
    padding: 48px 0 48px;
    .about__wrap{
        max-width: 768px;
        display: flex;
        justify-content: space-between;
        @media screen and (max-width: $mobile-max) {
            flex-direction: column;
            align-items: center;
            padding: 12px;
        }
    }
}

.about__title-wrap{
    width: 50%;
    @media screen and (max-width: $mobile-max) {
        width: 100%;
    }
    
}


.about__text-wrap{
    width: 50%;
    @media screen and (max-width: $mobile-max) {
        width: 100%;
        
    }
    .about__text-item{
        padding-top: 24px;
       
        &:first-child{
            padding: 0;
        }
         @media screen and (max-width: $mobile-max) {
           
            &:first-child{
                padding-top: 24px;
            }
        }
    }
}